<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="my-box valign-wrapper">
        <div class="card full-width">
          <div class="card-content">
            <h2 class="center-align">Inscription</h2>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true, wrapper_html: { class: 'input-field' }  %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} charactères minimum" if @minimum_password_length), wrapper_html: { class: 'input-field' }  %>
              <%= f.input :password_confirmation, required: true, wrapper_html: { class: 'input-field' }  %>
              <div class="file-field input-field file optional user_profile_pic">
                <div class="btn" id="btn-expanded">
                  <span><%= icon 'upload' %> Votre photo</span>
                  <input class="file optional" type="file" name="user[profile_pic]" id="user_profile_pic">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate file optional" type="text" name="zz" id="user_profile_pic">
                </div>
              </div>
              <%= f.input :profile_pic_cache, as: :hidden %>
            </div>

            <div class="form-actions center">
             <%= f.button :submit, "Inscription" %>
            <% end %>
            <!-- <a class="waves-effect waves-light btn" <%= render "devise/shared/links" %> </a>  --></div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
