<footer class="page-footer">
  <div class="my-own-footer">
   <div class="row">
      <div class="col s12 m6">
          <!-- <div class="flexbox">
            <p>Nous suivre:</p>
            <%= icon 'google', class: 'fa-2x' %>
            <%= icon 'facebook-official', class: 'fa-2x' %>
            <%= link_to "http://twitter.com/share", class: "grey-text text-lighten-3" do %>
              <%= icon 'twitter', class: 'fa-2x' %>
            <% end %>
            <%= icon 'pinterest', class: 'fa-2x' %>
          </div> -->
      </div>

      <div class="col s12 m6">
        <div class="liens-utiles center-align">
          <div class="row">
            <div class="col s6 m4 offset-m8 ">
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">WorkPlace&Kids</a></li>
                <!-- <li><a class="grey-text text-lighten-3" href="#!">PLAN  DU SITE</a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
</footer>
