<nav>
  <div class="nav-wrapper">
    <%= link_to root_path, class: "brand-logo left" do %>
    <%= image_tag "family.png", alt: "Logo" %>
    <% end %>

    <% if current_user %>

      <ul class="right hide-on-med-and-down">
        <% if current_user.admin %>
        <li><%= link_to "Admin", admin_root_path %></li>
        <% end %>
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></li>
      </ul>
    <%else  %>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Connexion", new_user_session_path %></li>
        <li><%= link_to "Inscription", new_user_registration_path %></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "Connexion", new_user_session_path %></li>
        <li><%= link_to "Inscription", new_user_registration_path %></li>
      </ul>
    <% end %>
  </div>
</nav>


<%= content_for(:after_js) do %>
<script>
$(document).ready(function() {
  $(".button-collapse").sideNav();
});
</script>
<% end %>
