<div class="page-cover">
  <div class="parallax-container">
    <div class="parallax"><%= image_tag "banner.jpg", alt: "Banner" %></div>
    <h1 class="center-align" id="first-head">WorkPlace&kids</h1>
    <p class="text" id="bouton"><%= link_to "Réservez dès maintenant", new_reservation_path, class: "waves-effect waves-light btn text" %></p>
  </div>
</div>
  <div class="row container">
    <h2 class="header center-align">Bienvenue</h2>
    <div class="center-align">
      <p class="text-darken-3 lighten-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
      <blockquote>
      <p class="text-darken-3 lighten-3">"Tous les pères revent de pouvoir travailler à coté de leurs enfants" J.C.</p>
      </blockquote>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><%= image_tag "work.jpg", alt: "Work" %></div>
  </div>
  <div class="section white grey lighten-4">
    <div class="row container">
      <h2 class="header center-align">Coworking</h2>
      <p class="grey-text text-darken-3 lighten-3">
        <strong>WorkPlace & Kid</strong>
        c'est 20 postes de travail en open space dans un lieu atypique et lumineux, en plein coeur de Nantes.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><%= image_tag "baby.jpg", alt: "Baby" %></div>
  </div>
  <div class="section white grey lighten-4">
    <div class="row container">
      <h2 class="header center-align">Micro-crèche</h2>
      <p class="grey-text text-darken-3 lighten-3">La micro-crèche a des capacités moindres qu’une structure collective. Celle-ci pourra accueillir un
        <strong>maximum de 10 enfants</strong>
        de moins de 5 ans.</p>
      <p class="grey-text text-darken-3 lighten-3">Trois professionnels de la puériculture seront là pour encadrer les enfants.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div id="map" style="width:100%;height:500px"></div>
  </div>
  <div class="section white grey lighten-4">
    <div class="row container">
      <div class="col s12 m12">
        <p><i class="material-icons">my_location</i> 13, boulevard de la liberté - 44000 Nantes</p>
        <p><i class="material-icons">phone</i> 02.40.33.77.89</p>
      </div>
      <div class="col s12 m12">
        <h2 class="header center-align">Contact</h2>
        <form action="#!">

  <div class="row">
    <div class="col m6 s12">
      <div class="input-field">
        <i class="fa fa-user prefix"></i>
        <input id="input_name" type="text" name="name">
        <label for="input_name">Nom</label>
      </div>
    </div>
    <div class="col m6 s12">
      <div class="input-field">
        <i class="fa fa-envelope prefix"></i>
        <input id="input_email" type="email" name="email">
        <label for="input_email">Email</label>
      </div>
    </div>
  </div>

  <div class="input-field">
    <i class="fa fa-tag prefix"></i>
    <input id="input_username" type="text" name="subject">
    <label for="input_username">Sujet</label>
  </div>

  <div class="input-field">
    <i class="fa fa-comment prefix"></i>
    <textarea id="textarea-message" class="materialize-textarea" name="message"></textarea>
    <label for="textarea-message">Message</label>
  </div>

  <p class="center">
    <input type="checkbox" id="checkbox_copy" name="send_copy" />
    <label for="checkbox_copy">M'envoyer une copie de mon message</label>
    <button class="waves-effect btn">Envoyer message</button>
  </p>
</form>
      </div>
    </div>
  </div>


 <%= content_for(:after_js) do %>
   <script>
     $(document).ready(function(){
       $('.parallax').parallax();
     });
   </script>

   <script>
     $(document).ready(function() {
       var handler = Gmaps.build('Google');
       handler.buildMap({provider: { scrollwheel: false, zoomControl: false }, internal: { id: 'map' } }, function() {
         markers = handler.addMarkers(<%= raw @markers.to_json %>);
         handler.bounds.extendWith(markers);
         handler.fitMapToBounds();
         if (markers.length == 0) {
           handler.getMap().setZoom(8);
         } else if (markers.length == 1) {
           handler.getMap().setZoom(15);
         }
       });
     });
   </script>
 <% end %>
