<div class="page-cover">
  <div class="parallax-container">
    <div class="parallax"><%= image_tag "banner.jpg", alt: "Banner" %></div>
    <h1 class="center-align" id="first-head">WorkPlace&kids</h1>
    <p class="text">
      <strong>"Un espace pour vous et votre enfant."</strong>
    </p>
    <p class="text"><%= link_to "Réservez dès maintenant !", new_reservation_path, class: "waves-effect waves-light btn text" %></p>
  </div>
</div>
  <div class="row container">
    <h2 class="header center-align">Bienvenue</h2>
    <div class="center-align">
      <p class="text-darken-3 lighten-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <blockquote>
      <p class="text-darken-3 lighten-3">"Tous les pères revent de pouvoir travailler à coté de leurs enfants" J.C.</p>
      </blockquote>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><%= image_tag "work.jpg", alt: "Work" %></div>
  </div>
  <div class="section white grey lighten-4">
    <div class="row container">
      <h2 class="header center-align">Coworking</h2>
      <p class="grey-text text-darken-3 lighten-3">
        <strong>WorkPlace & Kid</strong>
        c'est 20 postes de travail en open space dans un lieu atypique et lumineux, en plein coeur de Nantes.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><%= image_tag "baby.jpg", alt: "Baby" %></div>
  </div>
  <div class="section white grey lighten-4">
    <div class="row container">
      <h2 class="header center-align">Micro-crèche</h2>
      <p class="grey-text text-darken-3 lighten-3">La micro-crèche a des capacités moindres qu’une structure collective. Celle-ci pourra accueillir un
        <strong>maximum de 10 enfants</strong>
        de moins de 5 ans.</p>
      <p class="grey-text text-darken-3 lighten-3">Trois professionnels de la puériculture seront là pour encadrer les enfants.</p>
    </div>
  </div>


<%= content_for(:after_js) do %>
<script>
  $(document).ready(function(){
      $('.parallax').parallax();
    });
 </script>
<% end %>
