<h1>Reservations#new</h1>


<%= simple_form_for @reservation do |r| %>

  <div class="input boolean required weekly_schedule_worker_monday_morning">
    <input name="weekly_schedule[worker_monday_morning]" type="hidden" value="0" />
    <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_monday_morning]" id="weekly_schedule_worker_monday_morning" />
    <label class="boolean required" for="weekly_schedule_worker_monday_morning">
      <abbr title="required">*</abbr>
      Worker monday morning
    </label>
  </div>
  <div class="input boolean required weekly_schedule_worker_monday_afternoon">
    <input name="weekly_schedule[worker_monday_afternoon]" type="hidden" value="0" />
    <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_monday_afternoon]" id="weekly_schedule_worker_monday_afternoon" />
    <label class="boolean required" for="weekly_schedule_worker_monday_afternoon">
      <abbr title="required">*</abbr>
      Worker monday afternoon
    </label>
  </div>

  <div class="input boolean required weekly_schedule_worker_tuesday_morning">
    <input name="weekly_schedule[worker_tuesday_morning]" type="hidden" value="0" />
    <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_tuesday_morning]" id="weekly_schedule_worker_tuesday_morning" />
    <label class="boolean required" for="weekly_schedule_worker_tuesday_morning">
      <abbr title="required">*</abbr>
      Worker tuesday morning
    </label>
  </div>
  <div class="input boolean required weekly_schedule_worker_tuesday_afternoon">
    <input name="weekly_schedule[worker_tuesday_afternoon]" type="hidden" value="0" />
    <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_tuesday_afternoon]" id="weekly_schedule_worker_tuesday_afternoon" />
    <label class="boolean required" for="weekly_schedule_worker_tuesday_afternoon">
      <abbr title="required">*</abbr>
      Worker tuesday afternoon
    </label>
  </div>

  <div class="input boolean required weekly_schedule_worker_wednesday_morning">
    <input name="weekly_schedule[worker_wednesday_morning]" type="hidden" value="0" />
    <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_wednesday_morning]" id="weekly_schedule_worker_wednesday_morning" />
    <label class="boolean required" for="weekly_schedule_worker_wednesday_morning">
      <abbr title="required">*</abbr>
      Worker wednesday morning
    </label>
  </div>
  <div class="input boolean required weekly_schedule_worker_wednesday_afternoon">
    <input name="weekly_schedule[worker_wednesday_afternoon]" type="hidden" value="0" />
    <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_wednesday_afternoon]" id="weekly_schedule_worker_wednesday_afternoon" />
    <label class="boolean required" for="weekly_schedule_worker_wednesday_afternoon">
      <abbr title="required">*</abbr>
      Worker wednesday afternoon
    </label>
  </div>

  <div class="input boolean required weekly_schedule_worker_thursday_morning">
    <input name="weekly_schedule[worker_thursday_morning]" type="hidden" value="0" />
    <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_thursday_morning]" id="weekly_schedule_worker_thursday_morning" />
    <label class="boolean required" for="weekly_schedule_worker_thursday_morning">
      <abbr title="required">*</abbr>
      Worker thursday morning
    </label>
  </div>
  <div class="input boolean required weekly_schedule_worker_thursday_afternoon">
    <input name="weekly_schedule[worker_thursday_afternoon]" type="hidden" value="0" />
    <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_thursday_afternoon]" id="weekly_schedule_worker_thursday_afternoon" />
    <label class="boolean required" for="weekly_schedule_worker_thursday_afternoon">
      <abbr title="required">*</abbr>
      Worker thursday afternoon
    </label>
  </div>

  <div class="input boolean required weekly_schedule_worker_friday_morning">
    <input name="weekly_schedule[worker_friday_morning]" type="hidden" value="0" />
    <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_friday_morning]" id="weekly_schedule_worker_friday_morning" />
    <label class="boolean required" for="weekly_schedule_worker_friday_morning">
      <abbr title="required">*</abbr>
      Worker friday morning
    </label>
  </div>
  <div class="input boolean required weekly_schedule_worker_friday_afternoon">
    <input name="weekly_schedule[worker_friday_afternoon]" type="hidden" value="0" />
    <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_friday_afternoon]" id="weekly_schedule_worker_friday_afternoon" />
    <label class="boolean required" for="weekly_schedule_worker_friday_afternoon">
      <abbr title="required">*</abbr>
      Worker friday afternoon
    </label>
  </div>


  <%= r.input :number_of_weeks, required: true %>
  <%= r.hidden_field :user_id, :value => current_user.id %>
  <%= r.hidden_field :workplace_id, :value => Workplace.first.id %>
  <%= r.button :submit, "Submit", class: "btn btn-primary btn-lg" %>
<% end %>
