<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="center-align">Réservation de votre semaine</h2>
      <p>Bonjour, veuillez s'il vous plaît entrer votre semaine type. Cette action va nous permettre de définir votre présence dans l'espace de coworking ainsi que sel de votre enfant dans l'espace micro-crèche.</p>
    </div>
  </div>
</div>


<%= simple_form_for @reservation do |r| %>
<div class="row">
  <h4 class="center">Ma semaine type :</h4>
  <div class="col s12 m4 l2 offset-l1">
      <h4 class="center">Lundi</h4>
    <div class="card-panel center z-depth-2">
      <div class="input boolean required weekly_schedule_worker_monday_morning">
        <input name="weekly_schedule[worker_monday_morning]" type="hidden" value="0"/>
        <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_monday_morning]" id="weekly_schedule_worker_monday_morning"/>
        <label class="boolean required" for="weekly_schedule_worker_monday_morning">
          Matin
        </label>
      </div>
    </div>
    <div class="card-panel center z-depth-2">
      <div class="input boolean required weekly_schedule_worker_monday_afternoon">
        <input name="weekly_schedule[worker_monday_afternoon]" type="hidden" value="0"/>
        <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_monday_afternoon]" id="weekly_schedule_worker_monday_afternoon"/>
        <label class="boolean required" for="weekly_schedule_worker_monday_afternoon">
          Après-midi
        </label>
      </div>
    </div>
  </div>

<div class="col s12 m4 l2">
    <h4 class="center">Mardi</h4>
  <div class="card-panel center z-depth-2">
    <div class="input boolean required weekly_schedule_worker_tuesday_morning center">
      <input name="weekly_schedule[worker_tuesday_morning]" type="hidden" value="0"/>
      <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_tuesday_morning]" id="weekly_schedule_worker_tuesday_morning"/>
      <label class="boolean required" for="weekly_schedule_worker_tuesday_morning">
        Matin
      </label>
    </div>
  </div>
  <div class="card-panel center z-depth-2">
    <div class="input boolean required weekly_schedule_worker_tuesday_afternoon center">
      <input name="weekly_schedule[worker_tuesday_afternoon]" type="hidden" value="0"/>
      <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_tuesday_afternoon]" id="weekly_schedule_worker_tuesday_afternoon"/>
      <label class="boolean required" for="weekly_schedule_worker_tuesday_afternoon">
        Après-midi
      </label>
    </div>
  </div>
</div>

<div class="col s12 m4 l2">
    <h4 class="center">Mercredi</h4>
  <div class="card-panel center z-depth-2">
    <div class="input boolean required weekly_schedule_worker_wednesday_morning center">
      <input name="weekly_schedule[worker_wednesday_morning]" type="hidden" value="0"/>
      <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_wednesday_morning]" id="weekly_schedule_worker_wednesday_morning"/>
      <label class="boolean required" for="weekly_schedule_worker_wednesday_morning">
        Matin
      </label>
    </div>
  </div>
  <div class="card-panel center z-depth-2">
    <div class="input boolean required weekly_schedule_worker_wednesday_afternoon center">
      <input name="weekly_schedule[worker_wednesday_afternoon]" type="hidden" value="0"/>
      <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_wednesday_afternoon]" id="weekly_schedule_worker_wednesday_afternoon"/>
      <label class="boolean required" for="weekly_schedule_worker_wednesday_afternoon">
        Après-midi
      </label>
    </div>
  </div>
</div>

<div class="col s12 m4 l2 offset-m2">
    <h4 class="center">Jeudi</h4>
  <div class="card-panel center z-depth-2">
    <div class="input boolean required weekly_schedule_worker_thursday_morning center">
      <input name="weekly_schedule[worker_thursday_morning]" type="hidden" value="0"/>
      <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_thursday_morning]" id="weekly_schedule_worker_thursday_morning"/>
      <label class="boolean required" for="weekly_schedule_worker_thursday_morning">
        Matin
      </label>
    </div>
  </div>
  <div class="card-panel center z-depth-2">
    <div class="input boolean required weekly_schedule_worker_thursday_afternoon center">
      <input name="weekly_schedule[worker_thursday_afternoon]" type="hidden" value="0"/>
      <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_thursday_afternoon]" id="weekly_schedule_worker_thursday_afternoon"/>
      <label class="boolean required" for="weekly_schedule_worker_thursday_afternoon">
        Après-midi
      </label>
    </div>
  </div>
</div>

<div class="col s12 m4 l2">
    <h4 class="center">Vendredi</h4>
  <div class="card-panel center z-depth-2">
    <div class="input boolean required weekly_schedule_worker_friday_morning center">
      <input name="weekly_schedule[worker_friday_morning]" type="hidden" value="0"/>
      <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_friday_morning]" id="weekly_schedule_worker_friday_morning"/>
      <label class="boolean required" for="weekly_schedule_worker_friday_morning">
        Matin
      </label>
    </div>
  </div>
  <div class="card-panel center z-depth-2">
    <div class="input boolean required weekly_schedule_worker_friday_afternoon center">
      <input name="weekly_schedule[worker_friday_afternoon]" type="hidden" value="0"/>
      <input class="boolean required" required="required" aria-required="true" type="checkbox" value="1" name="weekly_schedule[worker_friday_afternoon]" id="weekly_schedule_worker_friday_afternoon"/>
      <label class="boolean required" for="weekly_schedule_worker_friday_afternoon">
        Après-midi
      </label>
    </div>
  </div>
</div>

  <div class="col s12 m6 offset-m3 offset-l3">
      <h4 class="center">Nombre de semaine :</h4>
      <p class="center">Vous pouvez répéter votre semaine type sur plusieurs semaines, veuillez rentrer votre choix.</p>
      <div class="card-panel center z-depth-2">
      <%= r.input :number_of_weeks, required: true %>
      <%= r.hidden_field :user_id, :value => current_user.id %>
      <%= r.hidden_field :workplace_id, :value => Workplace.first.id %>
      </div>
      <div class="center">
        <div style="margin:30px;">
          <%= r.button :submit, "Enregistrer", class: "btn btn-primary btn-lg"%>
        </div>
        <% end %>
      </div>
  </div>
</div>
