<% content_for :title, "W&K - Récapitulatif de réservation" %>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="center-align">Récapitulatif de réservation</h2>
      <p>Voici un récapitulatif des informations que vous avez rempli précédemment.</p>
    </div>
  </div>
</div>

<div class="col s12">
  <h4 class="center">Ma semaine type :</h4>
  <div class="row">
    <div class="col s12 m4 l2 offset-l1">
        <h4 class="center">Lundi</h4>
      <% if @week.worker_monday_morning %>
      <div class="card-panel center z-depth-2 card green lighten-2">
          Matin
      </div>
      <% else %>
      <div class="card-panel center z-depth-2">
          Matin
      </div>
      <% end %>
      <% if @week.worker_monday_afternoon %>
      <div class="card-panel center z-depth-2 card green lighten-2">
          Après-midi
      </div>
      <% else %>
      <div class="card-panel center z-depth-2">
          Après-midi
      </div>
      <% end %>
    </div>

  <div class="col s12 m4 l2">
    <h4 class="center">Mardi</h4>
  <% if @week.worker_tuesday_morning %>
  <div class="card-panel center z-depth-2 card green lighten-2">
      Matin
  </div>
  <% else %>
  <div class="card-panel center z-depth-2">
      Matin
  </div>
  <% end %>
  <% if @week.worker_tuesday_afternoon %>
  <div class="card-panel center z-depth-2 card green lighten-2">
      Après-midi
  </div>
  <% else %>
  <div class="card-panel center z-depth-2">
      Après-midi
  </div>
  <% end %>
</div>


  <div class="col s12 m4 l2">
    <h4 class="center">Mercredi</h4>
  <% if @week.worker_wednesday_morning %>
  <div class="card-panel center z-depth-2 card green lighten-2">
      Matin
  </div>
  <% else %>
  <div class="card-panel center z-depth-2">
      Matin
  </div>
  <% end %>
  <% if @week.worker_wednesday_afternoon %>
  <div class="card-panel center z-depth-2 card green lighten-2">
      Après-midi
  </div>
  <% else %>
  <div class="card-panel center z-depth-2">
      Après-midi
  </div>
  <% end %>
</div>

  <div class="col s12 m4 l2 offset-m2">
    <h4 class="center">Jeudi</h4>
  <% if @week.worker_thursday_morning %>
  <div class="card-panel center z-depth-2 card green lighten-2">
      Matin
  </div>
  <% else %>
  <div class="card-panel center z-depth-2">
      Matin
  </div>
  <% end %>
  <% if @week.worker_thursday_afternoon %>
  <div class="card-panel center z-depth-2 card green lighten-2">
      Après-midi
  </div>
  <% else %>
  <div class="card-panel center z-depth-2">
      Après-midi
  </div>
  <% end %>
</div>


  <div class="col s12 m4 l2">
    <h4 class="center">Vendredi</h4>
  <% if @week.worker_friday_morning %>
  <div class="card-panel center z-depth-2 card green lighten-2">
      Matin
  </div>
  <% else %>
  <div class="card-panel center z-depth-2">
      Matin
  </div>
  <% end %>
  <% if @week.worker_friday_afternoon %>
  <div class="card-panel center z-depth-2 card green lighten-2">
      Après-midi
  </div>
  <% else %>
  <div class="card-panel center z-depth-2">
      Après-midi
  </div>
  <% end %>
</div>


<div class="col s12 m6 offset-m3 offset-l3">
    <h4 class="center">Nombre de semaine</h4>
    <p class="center">Vous avez choisi de dupliquer votre semaine type sur <%= @reservation.number_of_weeks %> semaine(s).</p>
</div>


<div class="col s12">
  <div class="center">
    <a class="waves-effect waves-light btn" style="margin:30px;" <%= link_to "Modifier ma semaine type", edit_reservation_path(current_user.reservation) %></a>
</div>
</div>
</div>


<div class="container">
  <h4 class="center">Récapitulatif de mes informations personnelles :</h4>
  <div class="row">
    <div class="col s12 m6">
      <div class="card-panel z-depth-2">
        <h4 class="center-align">Parent 1
          <i class="material-icons">face</i>
        </h4>
        <div>
          <p><%= @client_data.father_first_name %></p>
          <p><%= @client_data.father_last_name %></p>
          <p><%= @client_data.father_profession %></p>
          <p><%= @client_data.father_phone_number %></p>
          <p><%= @client_data.father_address %></p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card-panel z-depth-2">
        <h4 class="center-align">Parent 2
          <i class="material-icons">face</i>
        </h4>
        <div>
          <p><%= @client_data.mother_first_name %></p>
          <p><%= @client_data.mother_last_name %></p>
          <p><%= @client_data.mother_profession %></p>
          <p><%= @client_data.mother_phone_number %></p>
          <p><%= @client_data.mother_address %></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel z-depth-2">
        <h4 class="center-align">Informations administratives
          <i class="material-icons">assignment_ind</i>
        </h4>
        <div>
          <p><%= @client_data.beneficiary_number %></p>
          <p><%= @client_data.insurance_name %></p>
          <p><%= @client_data.insurance_address %></p>
          <p><%= @client_data.insurance_policy %></p>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="card-panel z-depth-2">
        <h4 class="center-align">Informations de mon enfant
          <i class="material-icons">face</i>
        </h4>
        <div>
          <p><%= @kid.first_name %></p>
          <p><%= @kid.last_name %></p>
          <p><%= @kid.birthday %></p>
          <p><%= @kid.doudou_name %></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="center">
  <a class="waves-effect waves-light btn" <%= link_to "Modifier mes informations", edit_client_datum_path(current_user.client_datum) %></a>
</div>
<div class="center">
  <a class="waves-effect waves-light btn" style="margin:30px;" <%= link_to "Valider ma demande de réservation", confirm_path(current_user.reservation), method: :patch, class: "btn btn-primary btn-lg" %></a>
</div>
