<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= meta_title %></title>
  <meta name="description" content="<%= meta_description %>">

  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="<%= meta_title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= meta_image %>" />
  <meta property="og:description" content="<%= meta_description %>" />
  <meta property="og:site_name" content="<%= meta_title %>" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:title" content="<%= meta_title %>">
  <meta name="twitter:description" content="<%= meta_description %>">
  <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:image:src" content="<%= meta_image %>">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= favicon_link_tag "favicons/favicon-32x32.png" %>

  <%= favicon_link_tag "favicons/apple-touch-icon-57x57.png", rel: "apple-touch-icon", sizes: "57x57"%>
  <%= favicon_link_tag "favicons/apple-touch-icon-60x60.png", rel: "apple-touch-icon", sizes: "60x60"%>
  <%= favicon_link_tag "favicons/apple-touch-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72"%>
  <%= favicon_link_tag "favicons/apple-touch-icon-76x76.png", rel: "apple-touch-icon", sizes: "76x76"%>

  <%= favicon_link_tag "favicons/apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"%>
  <%= favicon_link_tag "favicons/apple-touch-icon-120x120.png", rel: "apple-touch-icon", sizes: "120x120"%>
  <!-- <%= favicon_link_tag "favicons/apple-touch-icon-144x144.png", rel: "apple-touch-icon", sizes: "144x144"%>
  <%= favicon_link_tag "favicons/apple-touch-icon-152x152.png", rel: "apple-touch-icon", sizes: "152x152"%>
  <%= favicon_link_tag "favicons/apple-touch-icon-180x180.png", rel: "apple-touch-icon", sizes: "180x180"%> -->
  <%= favicon_link_tag "favicons/android-icon-192x192.png", rel: "icon", sizes: "192x192"%>
  <%= favicon_link_tag "favicons/favicon-32x32.png", rel: "icon", sizes: "16x16"%>
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>
<body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <%= yield %>
  <%= render 'shared/footer' %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
  <%= javascript_include_tag 'application' %>
  <%= yield(:after_js) %>
<!--   <p class="notice"><%= notice %></p> -->
  <p class="alert"><%= alert %></p>
</body>
</html>
